# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
*.swp

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Sensitive
*.keystore
*.jks
key.properties
